#include <iostream>
#include<string>
#include <stdlib.h>
#include<cmath>
#include <cstring>
#include "conio.h"
#include <fstream>
#include <cstdlib>
#include <time.h>

using namespace std;

int main() {


    int pridat, jak, cel, kam;
    int kat, pecivo, piti;
    int rohlik = 0, houska = 0, chleba = 0; // celkem
    int kola = 0, voda = 0, fanta = 0;
    bool platba = false;
    int fik, pkn;
    int tvojemama;

    int pin, hpin = 2222;

    int crohlik = 2, chouska = 3, cchleba = 20; // cena
    int ckola = 30, cvoda = 17, cfanta = 25;


    srand(time(0));

    fik = rand() % 9999;
    pkn = rand() % 999999;






menu:
    cout << "vyberte kategorii " << endl;
    cout << "1) jidlo " << endl;
    cout << "2) napoje " << endl;
    cout << "3) kosik " << endl;
    cin >> kat;
    system("cls");

    switch (kat) { // vyber kategorii

    case 1: //pecivo
    pecivo:

        
        cout << "co chcete nakoupit" << endl;
        cout << "1. rohlik- " << crohlik << endl;
        cout << "2. housku- " << chouska << endl;
        cout << "3. chleba- " << cchleba << endl;
        cout << "5. zpet na kategorii " << endl;
        cin >> pecivo;

        switch (pecivo) {

        case 1:
            system("cls");
            cout << "kolik chcete pridat " << endl;
            cin >> pridat;
            cout << "pridali jste" << pridat << "rohlik do sveho kosiku " << endl;
            rohlik = (rohlik + pridat);
            system("cls");
            goto pecivo;

        case 2:
            system("cls");
            cout << "kolik chete pridat " << endl;
            cin >> pridat;
            cout << "pridali jste jeden housku do sveho kosiku " << endl;
            houska = (houska + pridat);
            system("cls");
            goto pecivo;
        case 3:

            system("cls");

            cout << "kolik chcete pridat " << endl;
            cin >> pridat;
            cout << "pridali jste jeden chleba do sveho kosiku " << endl;
            chleba = (chleba + pridat);
            system("cls");
            goto pecivo;



        case 5: //navrat do menu

            system("cls");
            goto menu;



        }
    case 2://piti
    piti:
        cout << "co chete nakoupit " << endl;
        cout << "1. kola- " << ckola << endl;
        cout << "2. voda- " << cvoda << endl;
        cout << "3. fanta- " << cfanta << endl;
        cout << "5. zpet na kategorii " << endl;
        cin >> piti;

        switch (piti) {

        case 1:
            system("cls");
            cout << "kolik kol chcete nakoupit " << endl;
            cin >> pridat;
            cout << "pridali jste " << pridat << "kol" << endl;
            kola = (kola + pridat);
            system("cls");
            goto piti;

        case 2:
            system("cls");
            cout << "kolik chete nakoupit vod " << endl;
            cin >> pridat;
            cout << "pridali jste " << pridat << " vod " << endl;
            voda = (voda + pridat);
            system("cls");
            goto piti;

        case 3:
            system("cls");
            cout << "kolik chcete nakoupit fant " << endl;
            cin >> pridat;
            cout << "pridali jste " << pridat << " fant " << endl;
            fanta = (fanta + pridat);
            system("cls");
            goto piti;

        case 5: //vratit do menu

            system("cls");
            goto menu;

        }

    case 3:
        cel = ((crohlik * rohlik) + (chouska * houska) + (cchleba * chleba) + (cvoda * voda) + (ckola * kola) + (cfanta * fanta)); //celkova cena
        cout << "-kosik-" << endl;
        cout << "---------- " << endl;
        if (rohlik > 0) {
            cout << "koupili jste " << rohlik << " rohliky- " << (crohlik * rohlik) << " kc" << endl;
        }
        if (houska > 0) {
            cout << "koupili jste " << houska << " houska- " << (chouska * houska) << " kc" << endl;
        }
        if (chleba > 0) {
            cout << "koupili jste " << chleba << " chleba- " << (cchleba * chleba) << " kc" << endl;
        }
        if (kola > 0) {
            cout << "koupili jste " << kola << " kol- " << (ckola * kola) << " kc" << endl;

        }
        if (voda > 0) {
            cout << "koupili jste " << voda << " vod- " << (cvoda * voda) << " kc " << endl;
        }
        if (fanta > 0) {
            cout << "koupili jste " << fanta << " fant- " << (cfanta * fanta) << " kc" << endl;
        }
        
        cout << "---------- " << endl;
        cout << "celkem to stoji " << cel << endl;
        cout << "---------- " << endl;
        cout << "chcete pokracovat " << endl;
        cout << "1. ano " << endl;
        cout << "2. vratit se do hlavni nabidky " << endl;
        cin >> kam;

        switch (kam) {
        case 2:
            system("cls");
            goto menu;

        case 1:
            system("cls");



            cout << "jak chcete platit " << endl;
            cout << "1. hotovost " << endl;
            cout << "2. kartou " << endl;
            cin >> jak;

            switch (jak) {

            case 1:
                cout << "vlozte " << cel << endl;
                platba = true;
                break;

            case 2:
                cout << "vlozte pin " << endl;
                cin >> pin;

                while (pin != hpin) {

                    cout << "spatne heslo " << endl;
                    cin >> pin;
                    system("cls");
                }
                cout << "spravne heslo vse probehlo uspesne " << endl;
                platba = true;
                break;


            }



        }



    }

    if (platba = true) {

        fstream myfile;
        myfile.open("uctenka.txt", ios::out);

        myfile << " -- uctenka -- " << endl;

        if (rohlik > 0) {
            myfile << "koupili jste " << rohlik << " rohliky- " << (crohlik * rohlik) << " kc" << endl;
        }
        if (houska > 0) {
            myfile << "koupili jste " << houska << " houska- " << (chouska * houska) << " kc" << endl;
        }
        if (chleba > 0) {
            myfile << "koupili jste " << chleba << " chleba- " << (cchleba * chleba) << " kc" << endl;
        }
        if (kola > 0) {
            myfile << "koupili jste " << kola << " kol- " << (ckola * kola) << " kc" << endl;

        }
        if (voda > 0) {
            myfile << "koupili jste " << voda << " vod- " << (cvoda * voda) << " kc " << endl;
        }
        if (fanta > 0) {
            myfile << "koupili jste " << fanta << " fant- " << (cfanta * fanta) << " kc" << endl;
        }
        myfile << "celkem to stoji " << cel << "kc" << endl;

        myfile << fik << " a " << pkn << endl;
        myfile.close();

    }

}
